
<div class="text-center">
  <h1>Pet-Hub</h1>
  <div>
    View all matches!
  </div>
</div>

<h1>Matches</h1>

<div id="card-body">
<div class="card" style="width: 18em;">
  <img src="https://www.breedyourdog.com/uploads/listing_images/19440/46975/big_czar_002.JPG" alt="Tino Dog">
  <div class="card-body">
    <h5 style="text-align: center" class="card-title">"Perro"</h5>
    <p style="text-align: center" class="card-text">Tino's Dog.</p>
  </div>
  <ul class="list-group list-group-flush">
      {{values}}
    <li class="list-group-item">Name:</li>
    {{ name }}
    <li class="list-group-item">Breed:</li>
    <li class="list-group-item">Size:</li>
     <li class="list-group-item">Temperament:</li>
    <li class="list-group-item">Activity Level:</li>
    <li class="list-group-item">Plays Well With Others?:</li>
  </ul>
  <div style="text-align: center"  class="card-body">
    <a href="mailto:"+{{ownerEmail}}+"?subject='Hello to a new Friend!'"class="card-link">Click here to chat with the owner!</a>
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://canineperspectivechicago.com/wp-content/uploads/2019/01/Maltese-Dog-Breed-Fully-Grown.jpeg" alt=" Dog">
  <div class="card-body">
    <h5 style="text-align: center" class="card-title">"JoJo"</h5>
    <p style="text-align: center" class="card-text">Michael's Dog.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name:</li>
    <li class="list-group-item">Breed:</li>
    <li class="list-group-item">Size:</li>
     <li class="list-group-item">Temperament:</li>
    <li class="list-group-item">Activity Level:</li>
    <li class="list-group-item">Plays Well With Others?:</li>
  </ul>
  <div style="text-align: center" class="card-body">
    <a href="mailto:"+{{ownerEmail}}+"?subject='Hello to a new Friend!'"  class="card-link">Click here to chat with the owner!</a>
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://www.pets4homes.co.uk/images/classifieds/2019/02/16/2212337/large/pedigree-english-bulldog-puppy-5c8913c1eb4aa.jpg" alt=" Dog">
  <div class="card-body">
    <h5 style="text-align: center" class="card-title">"Java"</h5>
    <p style="text-align: center" class="card-text">Darren's Dog.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name:</li>
    <li class="list-group-item">Breed:</li>
    <li class="list-group-item">Size:</li>
     <li class="list-group-item">Temperament:</li>
    <li class="list-group-item">Activity Level:</li>
    <li class="list-group-item">Plays Well With Others?:</li>
  </ul>
  <div style="text-align: center" class="card-body">
    <a href="mailto:"+{{ownerEmail}}+"?subject='Hello to a new Friend!'" style="text-align: center" class="card-link">Click here to chat with the owner!</a>
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://www.publicdomainpictures.net/pictures/250000/velka/dog-beagle-portrait.jpg" alt="Jeff's Dog">
  <div class="card-body">
    <h5 style="text-align: center" class="card-title">"Byte"</h5>
    <p style="text-align: center" class="card-text">Jeff's Dog.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name:</li>
    <li class="list-group-item">Breed:</li>
    <li class="list-group-item">Size:</li>
     <li class="list-group-item">Temperament:</li>
    <li class="list-group-item">Activity Level:</li>
    <li class="list-group-item">Plays Well With Others?:</li>
  </ul>
  <div style="text-align: center" class="card-body">
    <a href="mailto:"+{{ownerEmail}}+"?subject='Hello to a new Friend!'" class="card-link">Click here to chat with the owner!</a>
    
  </div>
</div>


<script src="/public/css/jass.css"></script>



